{
	"extends": "google",
	"parserOptions": {
		"esversion": 6,
		"ecmaVersion": 2017,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"forOf": true,
			"spread": true,
			"templateStrings": true,
			"objectLiteralShorthandMethods": true,
			"objectLiteralShorthandProperties": true,
			"arrowFunctions": true,
			"defaultParams": true,
			"destructuring": true,
			"experimentalObjectRestSpread": true,
			"experimentalDecorators": true
		},
		"env": {
			"browser": true,
			"node": true,
			"es6": true
		}
	},
	"parser": "babel-eslint",
	"plugins": [
		"react"
	],
	"rules": {
		"prefer-const": 2,
		"no-tabs": 0,
		"no-console": 1,
		"space-infix-ops": 2,
		"block-scoped-var": 2,
		"guard-for-in": 1,
		"no-trailing-spaces": ["error", {
				"skipBlankLines": true
			}
		],
		"brace-style": [2, "stroustrup", {
				"allowSingleLine": true
			}
		],
		"max-len": [ 1, {
				"code": 120
			}
		],
		"new-cap": [1, {
				"properties": false
			}
		],
		"require-jsdoc": ["error", {
			"require": {
				"FunctionDeclaration": false,
				"MethodDefinition": false,
				"ClassDeclaration": false,
				"ArrowFunctionExpression": false
				}
			}
		],
		"keyword-spacing": [2, {
				"overrides": {
					"if": {
						"after": false
					},
					"for": {
						"after": false
					},
					"while": {
						"after": false
					},
					"catch": {
						"after": false
					},
					"switch": {
						"after": false
					}
				}
			}
		],
		"react/jsx-uses-react": 1,
		"react/jsx-uses-vars": 1,
		"react/no-unknown-property": 2,
		"no-dupe-class-members": 2,
		"indent": [2, "tab", {
				"MemberExpression": "off",
				"SwitchCase": 1
			}
		],
		"ignoreComments": 0,
		"curly": [2, "multi-or-nest"]
	}
}
